.anuncio_titulo{
    text-align: center;
    
}
.anuncio_foto{
    width: 300px;
}
.anuncio{
     /* Deixa na mesma linha */
     display: inline-block ;
     color: rgb(41, 41, 41);
     width: 300px;
     border-style: solid;
     border-color: rgb(0, 0, 0);
     border-width: 2px;
     border-radius: 2px;
     margin: 10px;
     /* padding:2px; */
    transition: 2s;
}

.anuncio:hover{
    background-color:#4f3f9559;
    transition: 1s
}

body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    font-family: Georgia, Times, serif!important;
    font-size:  !important;
}

#btn_buscar{
    background-color: #1f3a93;
    color:#ffffff ;
    border: white solid 1px;
    transition: 1s;
    font-size: 110%;
    position: absolute;
    border-radius: 5px; 
    height: 26px; 
     /*Tira a bordinha quando fica clicado   */
    outline: none;
    /* Ajusta o tamanho de acordo com o conteudo */
    width: 65px;
    cursor: pointer;
    transition: 1s;
    position: absolute;
    font-size: 90%;
    top: 9px;
    left: 753px;
}

#btn_buscar:hover{
    box-shadow: 3px 3px 3px 1px rgb(0, 0, 0);
    transition: 0.5s;
}
.campo_de_busca{
    background-color:#26166bb2;
    position: absolute;
    height: 7VH;
    top: 40VH; 
    left: 50VH;
    text-align: center;
    width: 61VW;
    display:inline-block;
    border-radius: 5px;
    letter-spacing: 1px;
}
.cabecario{
    background-color:rgb(255, 255, 255);
    text-align: center;
    /* Esse tem que ser em px para não ficar torto o site quando diminuir a tela */
    height:68px;
    width: 99%;
    color: rgb(0, 119, 255);
    padding:5px;
    position: fixed;
    z-index: 10;
}


.cadastrar a {
    /* Esse tem que ser em px para não ficar torto o site quando diminuir a tela */
    display: inline-block; 
    position: absolute;
    /* Esse tem que ser em px para não ficar torto o site quando diminuir a tela */
    top: 30px;
    right: 100px;
    /* Deixa o pontador do mouse */
    cursor: pointer;
    color: rgb(0, 119, 255);
    font-size: 120%!important;
    text-decoration: none;

}

.cadastrar a:hover{
    color:rgb(2, 13, 173);
    /* Faz transformações no elementos*/
    transform: scale(1.1);
    /* Faz transição mais suave */
    transition: 0.2s ease-in-out;
    text-decoration: none;

    }

#Contato a{
    text-decoration: none;

}
#Contato{
/* Esse tem que ser em px para não ficar torto o site quando diminuir a tela */
    left: 165px;
    top:10px;
    position: absolute;
     /* Deixa o pontador do mouse */
     cursor: pointer;
     
}

.destaque{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 300%;
}

.endereco_face{
    width: 100px;
    position: absolute;
    top:10px;
    right: 26vw;
    display: inline-block; 
    /* Deixa o pontador do mouse */
    cursor: pointer;
    color:rgb(255, 255, 255);
}
.endereco_face a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition: 1s;
    font-size: 110%;
}
/* Quando o mouse estiver em cima */
.endereco_face a:hover{
    color:rgb(182, 250, 250);
    transition: 1s;
}   
/* Quando o link for visitado */
.endereco_face:visited{
    color:rgb(255, 255, 255), 246);
}
.endereco_face:active{
    color:rgb(255, 255, 255);
}
.entrar a{
    display: inline-block; 
    position: absolute;
    /* Esse tem que ser em px para não ficar torto o site quando diminuir a tela */
    top: 30px;
    right: 30px;
    /* Deixa o pontador do mouse */
    cursor: pointer;
    color: rgb(0, 119, 255);
    font-size: 120%;
    text-decoration: none;


}

.entrar a:hover{
    color:rgb(2, 13, 173);
    /* Faz transformações no elementos*/
    transform: scale(1.1);
    /* Faz transição mais suave */
    transition: 0.2s ease-in-out;
    text-decoration: none;

    }

.facebook{
position:absolute;
top: 10px;
    width: 20px;
    position: absolute;
    bottom: auto;
    right: 34vw;
    border-radius: 5px;
}



#Home{
    top:10px;
    left: 88px;
    position: absolute;
    /* Deixa o pontador do mouse */
    cursor: pointer;
}
#Home a{
text-decoration: none;
}


#id_btn_alugar{
    color: #1f3a93;
    background-color: #ffffff00;
    border: solid 1px gray;
    transition: 1s;
    font-size: 110%;
    position: relative;
    height: 26px;
    outline: none;
    width: 65px;
    cursor: pointer;
    transition: 1s;
    top: 18.5vh;
    left: -15.3VW;
    font-size: 90%;
}
.btn_alugar_selecionado{
color: rgb(255, 255, 255)!important;
background-color:#1f3a93 !important;
border: none;
transition: 1s;
font-size: 110%;
height: 26px; 
 /*Tira a bordinha quando fica clicado   */
outline: none;
/* Ajusta o tamanho de acordo com o conteudo */
width: 65px;
cursor: pointer;
transition: 1s;
position: relative;
top: 9px;
left: 16VW;
font-size: 90%;
}

#id_btn_comprar{
    background-color: rgba(255, 255, 255, 0);
    color: #1f3a93;
    border: solid 1px gray;
    transition: 1s;
    font-size: 110%;
    position: relative;
    /* border-radius: 5px; */
    height: 26px;
    outline: none;
    width: 68px;
    cursor: pointer;
    transition: 1s;
    top: 8.5vw;
    left: -15VW;
    font-size: 90%
}

.btn_comprar_selecionado{
    color: rgb(255, 255, 255)!important;
    background-color:#1f3a93 !important;
    border: none;
    transition: 1s;
    font-size: 110%;
    position: relative;
    height: 26px; 
     /*Tira a bordinha quando fica clicado   */
    outline: none;
    /* Ajusta o tamanho de acordo com o conteudo */
    width: 65px;
    cursor: pointer;
    transition: 1s;
    top: 9px;
    left: 16VW;
    font-size: 90%;
}

#id_btn_comprar:hover{
    box-shadow: 3px 3px 3px 1px rgb(0, 0, 0);
    transition: 0.5s;
}
 
#id_btn_alugar:hover{
    box-shadow: 3px 3px 3px 1px rgb(0, 0, 0);
    transition: 0.5s;
}

#Imoveis{
    left: 248px;
    top:10px;
    position: absolute;
    /* Deixa o pontador do mouse */
    cursor: pointer;
    
}
#Imoveis a{
    text-decoration: none;
}
    

.logo{
    width: 200px;
    float: left;
    /* display: inline-block; */
}

.listas{
    position: absolute;
    top: 9px;
    left: 27VW;
}
.menu{
    /* Define o fundo */
    background-color: white;
    /* Define a letra */
    color:rgb(0, 26, 255);
    font-size: 120%;
    /* Define o tamanho */
    width: 250px;
    padding: 5px;
    display: table;
    float: left;
    text-align: left;
    /* margin-left: 10%; */
    /* Localização da pagina */
    position: absolute;
    top: 3%;
    left: 200px;  
    
}
.mensagem_encontre{
    position: absolute;
    top:1.5vh;
    left: 1.5VW;
    color: white;
    display: inline-block;
    font-size: 110%;
}

.nome_titulo{
    color:rgb(255, 255, 255);
    line-height: 30px;
    font: bold;
    display: inline-block;
}

.sub_menu  {
   /* Fundo */
    color:rgb(0, 17, 255);
    /* Letra */
    font-size: 100%;
    /* Tamanho da caixa */
    width: 60px!important;
    text-align: center;
    position: absolute;
    float: left;
    padding: 5px;
    margin: 5px;
    border-right-width: 1px;
    transition: 0.2s ease-in-out;
    display: table;
    left: 120px;
    font-size: 100%;


}

.sub_menu a{
    /* Fundo */
     color:rgb(0, 17, 255);
     /* Letra */
     font-size: 100%;
     /* Tamanho da caixa */
     width: 60px;
     text-align: center;
     position: absolute;
     float: left;
     border-right-style: solid;
     padding: 5px;
     margin: 5px;
     border-right-width: 1px;
     transition: 0.2s ease-in-out;
     display: table;
     left: 120px;
    
 }
/* Quando o mouse passa em cima do elemento */
.sub_menu a:hover{
color:rgb(2, 13, 173);
/* Faz transformações no elementos*/
transform: scale(1.1);
/* Faz transição mais suave */
transition: 0.2s ease-in-out;
}


.rodape{
    background-color:#1f3a93;
    width: 100%;
    height: 35px;
    bottom: 0vh;
    padding-top: 5px;
    position:fixed;
}

.telefone{
    width: auto;
    position: absolute;
    bottom: auto;
    right: 2vw;
    border-radius: 5px;
    display: inline-block; 
    color:rgb(255, 255, 255);
    font-size: 3vh;

}

.whatsapp{
    width: 18px;
    position: absolute;
    top: 10px;
    right: 11vw;
    border-radius: 5px;
}       

/* Bootstrap */
.team{
    background-color: rgba(17, 5, 128, 0);
}
.name{
    text-align: center;
    position: absolute;
    left: -15px;
    color: rgb(0, 0, 0);
    z-index: 2;
}
p{
    color: rgb(0, 0, 0);
    font-size: 13px;
}

#imovel1{
    width:214px;
    position: absolute;
    top: 1px;
    left: 10px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    top: 270px;
    width: 259px;
    height: 300px;
    padding: 0px;
    margin: 0px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.801);
  }
  
  /* Add some padding inside the card container */
  .texto1 {
    position: relative;
    top: 0px;
    left: 1px;
    height: 364px;
    width: 257px;
    display: block;  
  }

#descricao{
    position: relative;
    top: 215px;
    left: 0px;
    height: 264px;
    width: 257px;
}
#link{
    float: right;   
}
#com_login{
    /* Esse tem que ser em px para não ficar torto o site quando diminuir a tela */
    display: inline-block; 
    position: absolute;
    /* Esse tem que ser em px para não ficar torto o site quando diminuir a tela */
    top: 30px;
    right: 10px;
    /* Deixa o pontador do mouse */
    cursor: pointer;
    color: rgb(0, 119, 255);
    font-size: 120%!important;
    display: none;
    background-color: #ffffff;
    width: 500px;
    height: 30px;
}
#sair{
display: inline-block; 
position: absolute;
/* Esse tem que ser em px para não ficar torto o site quando diminuir a tela */
top: 3px;
right: 19px;
/* Deixa o pontador do mouse */
cursor: pointer;
color: rgb(0, 119, 255);
font-size: 95%!important;
text-decoration: none;
}
#usuario{
position: absolute;
top: 3px;
right: 79px;
font-size: 100%;
text-decoration: none;
color: rgb(0, 119, 255);

}
.fundo_imoveis{
    background-repeat: no-repeat;
    /* background-image: url(https://www.meliuz.com.br/blog/wp-content/uploads/2016/03/foto4-1.jpg); */
    background-color: #ffffff;
    width: 100VW;
    height: 87.5vh;
    background-position: center;
    background-size: cover;
    position: fixed;
    opacity: 0.6;
    /* position: absolute; */
    top: 12vh;
} 
#filtros{
    display: inline-block;
    height: 220px;
    width: 100%;
    background-color: #efefef;
    /* border-radius: 20px; */
    position: absolute;
    top: 12vh;
    /* left: 12vw; */
    font-family: Georgia, Times, serif!important;
    /* transform: translate(50%, 50%); */
    box-shadow: inset 0px 12px 7px 0px #00000029;
    color: #404040;
}
.titulo{
    position: relative;
    left: 50vw;
    top: 0vh;
    font-size: 175%;
}
#subfiltro_localizacao_estado{
    margin-left: -40px;
    position: relative;
    left: 20vw;
    top: 12vh;
    width: 113px;
    font-size: 105%;
    margin-top: 19px;
    border-radius: 8px;
    background-color: #0011ff00;
    border-color: #8c8c8c;
    color: #4215b1;
    text-align: center;
}
#subfiltro_localizacao_cidade{
    margin-left: -40px;
    position: relative;
    left: 23vw;
    top: 12vh;
    width: 113px;
    font-size: 105%;
    margin-top: 19px;
    border-radius: 8px;
    background-color: #0011ff00;
    border-color: #8c8c8c;
    color: #4215b1;
    text-align: center;
}
.subtitulo_localizacao{
    position: relative;
    left: 28vw;
    top: 5vh;
    font-size: 140%;

}
#subfiltro_tipo{
    position: relative;
    left: 19.5vw;
    top: 12vh;
    width: 127px;
    font-size: 105%;
    border-radius: 8px;
    background-color: #0011ff00;
    border-color: #8c8c8c;
    color: #4215b1;
    text-align: center;
}
.subtitulo_tipo{
    position: relative;
    left: 27vw;
    top: 5vh;
    font-size: 140%;
}
#subfiltro_valores{
    margin-left: -9px;
    position: relative;
    left: 16vw;
    top: 12vh;
    width: 166px;
    font-size: 105%;
    border-radius: 8px;
    background-color: #0011ff00;
    border-color: #8c8c8c;
    color: #4215b1;
    text-align: center;
}

.subtitulo_valores{
    position: relative;
    left: 27vw;
    top: 4.8vh;
    font-size: 140%;
}
#pesquisar{
     /* position: relative; */
     left: 50vw;
     top: 27.5vh;
     background-color: #1f3a93;
     color: #ffffff;
     border: white solid 1px;
     transition: 1s;
     border-radius: 10px;
     height: 31px;
     outline: none;
     width: 80px;
     cursor: pointer;
     transition: 1s;
     position: absolute;
     font-size: 90%;
}
#pesquisar:hover{
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.63);
    transition: 0.5s;
}

.imovel{
    position: relative;
    top: 56vh;
    left: 28vh;
    background-color: #ffffffbf;
    display: inline-block;
    width: 71vw;
    height: 30vh;
    box-shadow: 1px 0px 20px 3px #00000057;
    border-radius: 10px;
    margin-top: 20px;
}
.foto{
    width: 187px;
}
.preco{
    position: absolute;
    top: 3vh;
    left: 17vw;
    font-size: 200%;
}
.descricao{
    position: absolute;
    top: 11vh;
    left: 17vw;
}
.tamanho{
    position: absolute;
    top: 23.5vh;
    left: 17vw;
}
.mes{
    position: absolute;
    top: 5vh;
    left: 29vw;
}
.tipo{
    position: absolute;
    top: 5vh;
    left: 44vw;
}
.localizacao{
    position: absolute;
    top: 19vh;
    left: 17vw;
}
.negocio{
    position: absolute;
    top: 5vh;
    left: 60vw;
}
#fantasma{
    background-color: #1f3a93;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0vw;
}
#minimo{
    position: relative;
    top: 12vh;
    left: 14vw;
    width: 70px;
    height: 31px;
    border-radius: 8px;
    border: solid 1px gray;
    text-align: center;
    background-color: #ffffff85;
}
#maximo{
    position: relative;
    top: 12vh;
    left: 17vw;
    width: 70px;
    height: 31px;
    border-radius: 8px;
    border: solid 1px gray;
    text-align: center;
    background-color: #ffffff85;
}
#a_valor{
    font-size: 125%;
    position: relative;
    top: 12.5vh;
    left: 15.5vw;
    color: #404040;
}
#tamanho_resultado{
    position: relative;
    top: 53.5vh;
    left: 13.5vw;
    font-size: 130%;;
}
#numero_resultado{
    position: relative;
    top: -0.5vh;
    left: -0.5vw;
    font-size: 110%;
}

#cadastrar_imovel a{
    text-decoration: none;
    left: 323px !important;
    top: -73px !important;
    position: absolute;
    cursor: pointer;
    width: 148px;
}