.foto_fundo{
    background-image: url("./imovel-comercial.jpg");
    background-repeat: no-repeat;
    width: 98.5VW;
    height: 540px;
    /* Centraliza a imagem no meio da div */
    background-position: center;
    /* A imagem cobre toda a area */
    background-size: cover;
}
.tela_login{
    height: 300px;
    display: inline-block;
    width: 40VW;
    background-color:#493797b2;
    position: absolute;
    top: 35vh;
    left: 35vw;
}
#text_usuario{
    position: absolute;
    top: 4VH;
    left:19VW;
}
#usuario{
    position: absolute;
    top: 8vh;
    left: 12vw;
}